body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #00A37A
}

i {
	
	margin-left: -40px;
	color: #ed4e6e;
	color:#00A37A;
}

h3 a{
	color: #00A37A;
	font-weight: 100;
}

.navbar-brand{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color:#00A37A !important;
	
	
}

.navbar{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
    font-weight: 100;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}