body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar {
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  background: black;
  color: white;

}

.navbar .navbar-nav {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

.navbar .navbar-brand {
  padding-top: 25px;
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  font-weight: 600;
}

.jumbotron {
	font-family: 'Vollkorn', serif;
    font-size: 35px;
    color: #00B28F;
    color: black;
}
